p{ 
    color:black;
    font-family: Arial;
    font-style: italic;
    text-decoration-line:initial;
    font-size: 0.9rem;
}
h1{ 
    color:black;
    font-family: 'Lucida Sans';
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}
h2{ 
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 1ch;
    font-size: 4rem
}
img{
    display:block;
    margin:auto;
    }
h3{ 
    color:gray;
    font-family:'Trebuchet MS';
    font-size: 1rem;
}
h4{ 
    color:gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}
h6{ 
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
}
ol{ 
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1rem;
}
ul{ 
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1rem;
}


